<?xml version="1.0"?>

<model>
  <name>Pioneer 3AT</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Dereck Wonnacott</name>
    <email>dereck@gmail.com</email>
  </author>

  <license>Creative Commons Attribution 3.0 Unported</license>

  <description>
    Pioneer 3AT Mobile Robot, downloaded from Gazebo Fuel
    (OpenRobotics/models/Pioneer 3AT, by Dereck Wonnacott, CC-BY 3.0).
    Used here as the evader in the poly9 case study. The original
    SkidSteerDrivePlugin (a Gazebo Classic plugin) has been removed from
    model.sdf and replaced with Ignition's VelocityControl/
    OdometryPublisher/PosePublisher, matching the rest of this package's
    control scheme.
  </description>
</model>
